<div>
	<table style="background:#CCCCCC">
	<tr>
		<td colspan="3" style="border: 1px solid black">Info: {{spot.info}}</td>
	</tr>
	<tr>
		<td colspan="3" style="border: 1px solid black">Distance: {{spot.distance}}km</td>
	</tr>
	<tr>
		<td colspan="1" style="border: 1px solid black">Price Per Day: {{spot.price_day}}</td>
		<td colspan="1" style="border: 1px solid black">Price Per Hour: {{spot.price_hour}}</td>
		<td colspan="1" style="border: 1px solid black">Price Per Month: {{spot.price_month}}</td>
	</tr>
</div>
<br>