<form  ng-submit="submit()" ng-controller="EditPmsController">
    <div class="form-group">

        <label>PMS Number or Colour  </label>
        <h4 ng-model="pms">{{pms}}</h4>
    </div>
    <div class="form-group">
        <label>Paint series  </label>
        <h4 ng-model="radioModel">{{radioModel === 'SI' ? 'SPI' : radioModel}}</h4>
    </div>
    <div class="form-group">
        <label>PMS Colour full name</label>
        <input type="text" class="form-control" placeholder="PMS Description" ng-model="description">
    </div>
    <div class="form-group">

        <label>Component 1:</label>
<!--        <select class="form-control" id="compOption1" ng-model="component1" ng-options="pmsComp.component for pmsComp in paintColors track by pmsComp.abvr">-->
            <select ng-model="component1" id="compOption1" class="form-control">

            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>

        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity1">
    </div>
    <div class="form-group">

        <label>Component 2:</label>
        <select ng-model="component2" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity2">
    </div>
    <div class="form-group">
        <label>Component 3:</label>
        <select ng-model="component3" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity3">
    </div>
    <div class="form-group">

        <label>Component 4:</label>
        <select ng-model="component4" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity4">
    </div>
    <div class="form-group">

        <label>Component 5:</label>
        <select ng-model="component5" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity5">
    </div>
    <div class="form-group">

        <label>Component 6:</label>
        <select ng-model="component6" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity6">
    </div>
    <div class="form-group">


        <label>Component 7:</label>
        <select ng-model="component7" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity7">
    </div>
    <div class="form-group">

        <label>Component 8:</label>
        <select ng-model="component8" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity8">
    </div>
    <div class="form-group">

        <label>Component 9:</label>
        <select ng-model="component9" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity9">
    </div>
    <div class="form-group">
        <label>Component 10:</label>
        <select ng-model="component10" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity10">
    </div>
    <div class="form-group">

        <label>Component 11:</label>
        <select ng-model="component11" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity11">
    </div>
    <div class="form-group">

        <label>Component 12:</label>
        <select ng-model="component12" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity12">
    </div>
    <div class="form-group">

        <label>Component 13:</label>
        <select ng-model="component13" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity13">
    </div>
    <div class="form-group">

        <label>Component 14:</label>
        <select ng-model="component14" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity14">
    </div>
    <div class="form-group">

        <label>Component 15:</label>
        <select ng-model="component15" class="form-control">
            <option value="">Select paint component</option>
            <option ng-repeat="pmsComp in paintColors" value="{{pmsComp.abvr}}">{{pmsComp.component}}</option>
        </select>
        <input type="number" class="form-control" placeholder="Amount in grams" ng-model="quantity15">
    </div>
    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-plus"> Update PMS entry</span></button>
    <button class="btn btn-danger" ng-click="deletePms(pms, radioModel)"><span class="glyphicon glyphicon-trash"> Delete PMS entry</span></button>
</form>