<div ng-controller="CheckSettingsController">
	<div class="row">
		<div class="col-md-4">
			<p style="font-size:large; white-space:nowrap; text-decoration:underline"><strong>User Settings</strong></p>
			<div class="panel panel-info">
				<div class="panel-heading" id="admin_links">
					<span><strong>Administrator links</strong></span>
				</div>
				<div class="panel-body">
					<a href="#/addColorComponent" id="addPMSLink" class="btn btn-default btn-lg">Add new PMS number</a>
					<a href="#/viewPmsEntries" id="viewPMSLink" class="btn btn-default btn-lg">View all inputted PMS numbers</a>
					<br/>
				</div>
			</div>


<!--			<div class="panel panel-info">-->
<!--				<div class="panel-heading">-->
<!--					<span><strong>Change Password/Email</strong></span>-->
<!--				</div>-->
<!--				<div class="panel-body">-->
<!--					<div id="changePasswordField" style="display:none;">-->
<!--						<form ng-submit="changePassword()">-->
<!--							Current Password * <span id="previousPasswordCheck" style="white-space:nowrap;"></span>-->
<!--							<input class="form-control width-90" type="password" ng-model="currentPass" /><br>-->
<!--							New Password * <span id="newPasswordCheck" style="white-space:nowrap;"></span>-->
<!--							<input class="form-control width-90" type="password" ng-model="newPass" /><br>-->
<!--							Re-enter New Password * <span id="newPasswordCheck2" style="white-space:nowrap;"></span>-->
<!--							<input class="form-control width-90" type="password" ng-model="newPass2" /><br>-->
<!--							<input class="btn btn-default" type="submit" id="submit" value="Submit" />-->
<!--						</form>-->
<!--					</div>-->
<!--					<form ng-submit="showPassword()">-->
<!--						<br><input class="btn btn-default" type="submit" id="showPassword" value="Change Password" style="display:block;"/>-->
<!--					</form>-->
<!--					<form ng-submit="showEmail()">-->
<!--						<br><input class="btn btn-default" type="submit" id="showEmail" value="Change Email" style="display:block;" />-->
<!--					</form>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="col-md-8" ng-show="spots.length">-->
<!--			<p style="font-size:large; white-space:nowrap; text-decoration:underline"><strong>Parking Spots</strong></p>-->
<!--				<div ng-include="'templates/userSpot.html'" ng-repeat="spot in spots"></div>-->
<!--		</div>-->
	</div>
</div>