<div class="col-md-12">
	<form ng-submit="submit()" ng-controller="SignupController">
	  Username *<br>
	  <input class="form-control width-50" type="text" ng-model="username"/><br>
	  Password (Between 6-20 characters) *<br>
	  <input class="form-control width-50" type="password" ng-model="password"/><br>
	  Confirm Password *<br>
	  <input class="form-control width-50" type="password" ng-model="password2"/><br>
	  First Name<br>
	  <input class="form-control width-50" type="text" ng-model="firstname"/><br>
	  Last Name<br>
	  <input class="form-control width-50" type="text" ng-model="lastname"/><br>
	  Email *<br>
	  <input class="form-control width-50" type="text" ng-model="email"/><br>
	  <input class="btn btn-default" type="submit" id="submit" value="Sign Up" />
	  <br>
	  <br>
	  * Required
	</form>
</div>